.user-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.user-form-container__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form__group {
  margin-bottom: 15px;
}

.user-form__label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.user-form__input,
.user-form__checkbox {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 92%;
  transition: border-color 0.3s;
}

.user-form__input:focus {
  border-color: #007bff;
  outline: none;
}

.user-form__error {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

.user-form__group--checkbox {
  display: flex;
  align-items: center;
}

.user-form__submit-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-form__submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.user-form__submit-button:not(:disabled):hover {
  background-color: #0056b3;
}

.user-form__info {
  font-size: 0.875rem;
  color: #666; /* Light grey to indicate it's informative */
  margin-top: 0.5rem;
}

.user-form__group--checkbox-inline {
  display: flex;
  align-items: center; /* Aligns the checkbox and label vertically */
}

.user-form__group--checkbox-inline .user-form__label {
  margin-right: 10px; /* Adds space between the label and checkbox */
}

/* Adjust the size of the checkbox */
.user-form__checkbox {
  width: 20px;
  height: 20px;
  transform: scale(1.3); /* Makes the checkbox larger */
  margin-right: 10px; /* Reduces the space between the checkbox and the label */
}