<h2 class="user-list__title">User List</h2>
<div class="user-list" *ngIf="users.length > 0; else noUsers">
  <div *ngFor="let user of users" class="user-card">
    <div class="user-info">
      <p><strong>ID:</strong> {{ user.id }}</p>
      <p><strong>Name:</strong> {{ user.name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Role:</strong> {{ user.is_manager ? 'Manager' : 'Employee' }}</p>
      <p><strong>Birthdate:</strong> {{ user.birthdate | date }}</p>
    </div>
    <button class="delete-button" (click)="deleteUser(user.id)">Delete</button>
  </div>
</div>
<ng-template #noUsers>
  <p class="user-list__no-users">No users found.</p>
</ng-template>